<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="add-group-grid">
        <h3 class="ion-text-center">{{(scenario === 'edit' ? 'ClubPage.groupEdit' : "ClubPage.groupCreating") | translate}}</h3>
        <ion-row>
            <ion-col>
                <ion-item color="none">
                    <ion-label position="stacked">{{'ClubPage.groupName' | translate}}
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="groupName"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ng-container *ngIf="selectedUserIds && selectedUserIds.length">
            <h3 class="ion-text-center">{{"ClubPage.groupUsers" | translate}}</h3>
            <ng-container *ngFor="let user of clubUsers">
                <div *ngIf="selectedUserIds && selectedUserIds.includes(user.id)" class="group-user">
                    <ion-img src="{{user.avatar_url || '/assets/img/user.png'}}"></ion-img>
                    {{user.name && user.surname ? user.name + ' ' + user.surname : translateService.instant('ClubPage.anonymusUser')}}
                </div>
            </ng-container>
        </ng-container>

        <ion-row>
            <ion-col size="12">
                <ion-button color="dark" expand="block" class="ion-no-margin padding-button" (click)="addUsersToGroup()">
                    {{ "ClubPage.addUsers" | translate }}&nbsp;
                    <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button disabled="{{!groupName}}" expand="block" class="ion-no-margin padding-button" (click)="addGroup()">
                    {{ "ClubPage.saveGroup" | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
