.add-group-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2e3b42dd;
    color: white;
    border-radius: 10px;
    margin: 0.3rem;
    min-height: calc(100% - 0.6rem);
    height: auto;

    ion-item {
        color: white;
    }

    .group-user {
        display: flex;
        align-items: center;

        ion-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0.6rem 1rem;
        }
    }
}
