.login-grid {
    background: #2e3b42dd;
    color: white;
    border-radius: 10px;
    margin: 0.3rem;
    min-height: calc(100% - 0.6rem);
    height: auto;


    ion-item {
        color: white;
    }

    .login-logo-image {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
