<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="closeModal()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="club-join-grid">
        <ion-row>
            <ion-col size="12">
                <ion-img src="../../assets/img/logo_small.png" class="login-logo-image"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <form [formGroup]="joinClub" (ngSubmit)="joinForm()">
                    <ion-row>
                        <ion-col>
                            <ion-item color="none">
                                <ion-label position="stacked">{{'ClubPage.token' | translate}}
                                    <ion-text color="danger">*</ion-text>
                                </ion-label>
                                <ion-input type="text" formControlName="token"></ion-input>
                            </ion-item>
                            <input-message [input]="joinClub.get('token')"></input-message>
                        </ion-col>
                    </ion-row>

                    <ion-button color="dark" expand="block" size="large" type="submit" class="ion-margin-top"
                                [disabled]="!joinClub.valid">{{'ClubPage.join' | translate}}</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
