<ion-content>
    <ion-grid class="club-join-grid">
        <ion-row>
            <ion-col>
                <ion-img src="../../assets/img/logo_small.png" class="login-logo-image"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
<!--            TODO zamien to na formularz-->
            <ion-col width-100>
                <ion-item color="none">
                    <ion-label position="stacked">{{'LoginPage.email' | translate}}
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <input-message [input]="null"></input-message>
            </ion-col>
            <ion-button color="dark" expand="block" size="large" type="submit" class="ion-margin-top"
                        [disabled]="null">{{'ClubPage.joinClubText' | translate}}</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
