.logo-image {
    height: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.button-section {
    height: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    button {
        padding: 1rem;
        margin: 0.5rem;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem;
        background: rgb(18,185,234);
        background: linear-gradient(rgba(18,185,234,1), rgba(1,51,125,1));
        border: 0.20rem solid black;
        border-radius: 10px;

        &:focus {
            outline: none;
        }
    }
}
