<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isCoachOrPresident">
        <ion-fab-button class="add-content-button" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button class="add-content-button" color="primary" (click)="createAnnouncement()">
                <ion-icon name="paper"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="add-content-button" color="primary" (click)="createEvent()">
                <ion-icon name="calendar"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-grid class="dashboard-grid">
        <ng-container *ngIf="!loading; else loadingTemplate">
            <ng-container *ngIf="club && club.member_roles && club.member_roles.length; else notAccepted">
                <ion-row class="title-row ion-align-items-center">
                    <h1 style="color: white;">{{club.name}}</h1>
                    <ion-icon color="danger" (click)="leaveClub()" name="exit"></ion-icon>
                </ion-row>
                <ion-row>
                    <full-calendar
                        #calendar
                        defaultView="dayGridMonth"
                        locale="{{translateService.currentLang}}"
                        [locales]="locales"
                        [plugins]="calendarPlugins"
                        [events]="clubEvents"
                        [displayEventTime]="false"
                        (eventClick)="eventClickHandler($event)"
                    >
                    </full-calendar>
                </ion-row>

                <ion-item color="dark" detail="true" [routerLink]="['/club/announcements']" skipLocationChange="true">
                    <p>{{"ClubPage.announcements" | translate}}</p>
                </ion-item>
                <ion-item color="dark" detail="true" [routerLink]="['/club/' + clubId + '/list']" skipLocationChange="true">
                    <p>{{"ClubPage.list" | translate}}</p>
                </ion-item>

                <ng-container *ngIf="isCoachOrPresident">
                    <ion-item color="dark" detail="true" (click)="showAsks()">
                        <p>{{"ClubPage.joinAsks" | translate}}</p>
                    </ion-item>
                    <ion-item color="dark" detail="true" [routerLink]="['/club/' + clubId + '/group-management']" skipLocationChange="true">
                        <p>{{"ClubPage.groupManagement" | translate}}</p>
                    </ion-item>
                    <ion-item color="dark" detail="true" [routerLink]="['/club/stats']" skipLocationChange="true">
                        <p>{{"ClubPage.stats" | translate}}</p>
                    </ion-item>
                </ng-container>

                <ng-container *ngIf="isPresident">
                    <ion-item color="dark" detail="true" [routerLink]="['/club/' + clubId + '/edit']" skipLocationChange="true">
                        <p>{{"ClubPage.editClub" | translate}}</p>
                    </ion-item>
                </ng-container>

                <ion-item *ngIf="isCoachOrPresident" color="dark" class="ion-justify-content-center" (click)="copyToken()">
                    <p>{{'ClubPage.clubCode' | translate}}: {{club.token}}</p>
                </ion-item>
            </ng-container>
            <ng-template #notAccepted>
                <div class="alert-warning" *ngIf="!loading">
                    {{ 'ClubPage.notAccepted' | translate }}
                </div>
            </ng-template>
        </ng-container>
        <ng-template #loadingTemplate>
            <ion-spinner name="lines"></ion-spinner>
            <p>{{ 'Common.loading' | translate }}</p>
        </ng-template>
    </ion-grid>
</ion-content>
